body {
    margin: 0;
    padding: 0;
}

.page-info {
    margin-left: 1rem;
}

.error {
    background: red;
    color: #fff;
    padding: 1rem;
}

.nav {
    background: #666;
    color: #fff;
    padding: 1rem;
}

.btn {
    background: coral;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 2rem;
    transition: .3s;
}

.btn:hover {
    opacity: 0.8;
}